/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    /* propiedad color de fondo */
    background-color: antiquewhite;
    font-family: "Source Code Pro", monospace;
}

/* Header */


header {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


header nav ul {
    list-style: none;
    display: flex;
    gap: 10px;

}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header img {
    width: 200px;
}


/* MAIN */

h1 {
    font-family: "DM Sans", sans-serif;
}

/* FOOTER */
footer img {
    width: 90px;
}


/* tipo de selectores */


/* CLASS */


/* ID */