/* RESET */
/* ================= RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================= VARIABLES ================= */
:root {
    --color-principal: #d4a373;
    --color-secundario: #faedcd;
    --color-texto: #333333;
    --color-claro: #ffffff;
}

/* ================= BODY ================= */
body {
    background-color: var(--color-secundario);
    font-family: "Source Code Pro", monospace;
    color: var(--color-texto);
    line-height: 1.6;
}

/* ================= HEADER / NAV ================= */
header {
    margin-bottom: 2rem;
}

.navbar {
    background-color: var(--color-claro) !important;
}

.navbar-brand img {
    width: 180px;
}

.nav-link {
    color: var(--color-texto) !important;
    font-weight: 500;
}

.nav-link:hover {
    color: var(--color-principal) !important;
}

/* ================= TITULOS ================= */
h1,
h2 {
    font-family: "DM Sans", sans-serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

/* ================= BANNER ================= */

.banner {
    width: 100%;
    height: 400px;

    background-image: url("../assets/img/banner-home.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
}

.banner-content {
    margin-left: 5%;
    color: white;
    max-width: 600px;
}

.banner-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 1.2rem;

    .banner {
        position: relative;
    }

    .banner::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .banner-content {
        position: relative;
    }

}




/* ================= PRODUCTOS ================= */
section article img {
    transition: transform 0.3s ease;
}

section article img:hover {
    transform: scale(1.05);
}

/* ================= FOOTER ================= */
footer {
    background-color: var(--color-claro);
}

footer p {
    margin-bottom: 0.5rem;
}

footer img {
    width: 80px;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    .navbar-brand img {
        width: 150px;
    }
}